@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Open Sans", sans-serif;
}

.textScrollToLeft {
    animation: textScrollLeft 30s linear infinite;
}

@keyframes textScrollLeft {
    0%{
        left: 0;
    }
    100%{
        left: -100%;
    }
}
.splide__arrow{
    width: 12px !important;
    background: none !important;
}
.newfeatured .splide__arrow svg{
    fill: white;
}

.borderstyle{
    background: linear-gradient(90deg, #B78E35 0%, #FFD477 100%);
    height: 2px;
}
.gradient-text {
    font-size: 14px;
    background: linear-gradient(101.46deg, #B78E35 15%, #FFD477 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}